<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Ułamki</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" href=".../resources/static/css/style.css"/>
</head>
<body>
    <section layout:fragment="content">
        <main>
            <article>
                <h3>Dodawanie ułamków zwykłych o jednakowych mianownikach</h3>
                <p>
                    Dodawanie ułamków o jednakowych mianownikach jest bardzo proste.
                    Wystarczy <b>dodać do siebie liczniki, a mianownik przepisać.</b>
                    Np. <span class="frac"><sup>3</sup><span>&frasl;</span><sub>5</sub></span> +
                    <span class="frac"><sup>1</sup><span>&frasl;</span><sub>5</sub></span> =
                    <span class="frac"><sup>3 + 1</sup><span>&frasl;</span><sub>5</sub></span> =
                    <span class="frac"><sup>4</sup><span>&frasl;</span><sub>5</sub></span><br>
                    <b>Ważne:</b> Po wykonaniu działania wynik należy skrócić i wyłączyć z niego całości
                    (oczywiście o ile to możliwe)!
                </p>
                <br>
                <p>
                    <a href="/operations-list"><img class="arrow_previous_next" style="float: left"
                                             th:src="@{images/arrow_left2.png}" src=".../resources/static/images/arrow_left2.png"/></a>
                    <a href="/addition"><img class="arrow_previous_next" style="float: right"
                                                      th:src="@{images/arrow_right2.png}" src=".../resources/static/images/arrow_right2.png"/></a>
                </p>
                <p>
                    <span class="text_left">Powrót do listy</span>
                    <span class="text_right">Dodawanie ułamków zwykłych</span>
                </p>
            </article>
        </main>
    </section>
</body>
</html>