<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Ułamki</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" href=".../resources/static/css/style.css"/>
</head>
<body>
    <section layout:fragment="content">
         <main>
            <article>
                <span class="text_right"><a class="briefly_open" onclick="pop()">W skrócie!</a></span>
                <h3>Dodawanie ułamków zwykłych</h3>
                <div id="briefly_box">
                    <img src=".../resources/static/images/fractions_operations/addition.gif"
                         th:src="@{images/fractions_operations/addition.gif}" alt="gif">
                    <a class="briefly_close" onclick="pop()">Zamknij</a>
                </div>
                <script src=".../resources/static/scripts/briefly.js" th:src="@{scripts/briefly.js}"></script>
                <p>
                    Aby można było dodać ułamki zwykłe musi być spełniony jeden warunek -
                    ułamki te muszą mieć jednakowe mianowniki.<br>
                    Zatem - <b>aby dodać ułamki najpierw trzeba je sprowadzić do wspólnego mianownika.</b>
                    Potem już tylko dodajemy liczniki, a mianownik przepisujemy.<br>
                    <b>Ważne:</b> pamiętajmy o skróceniu i wyłączeniu całości (o ile się da) w wyniku.<br>
                    Np.  <span class="frac"><sup>8</sup><span>&frasl;</span><sub>15</sub></span> +
                    <span class="frac"><sup>7</sup><span>&frasl;</span><sub>10</sub></span> =
                </p>
                <p>
                    <b>Sprowadzamy do wspólnego mianownika:</b><br>
                    Krok 1<br>
                    Wielokrotności mianowników to: <br>dla 15 - 15, 30, 45, 60, 75...<br>
                    dla 10 - 10, 20, <b>30</b> stop! <br>
                    Krok 2<br>
                    Jak widać wspólnym mianownikiem dla 10 i 15 jest 30 (jest to wspólna wielokrotność obu mianowników)<br>
                    Krok 3<br>
                    Rozszerzamy oba ułamki do ułamków o znalezionym w kroku 2 mianowniku (tutaj 30)<br>
                    <span class="frac"><sup>8</sup><span>&frasl;</span><sub>15</sub></span> =
                    <span class="frac"><sup>8*2</sup><span>&frasl;</span><sub>15*2</sub></span> =
                    <span class="frac"><sup>16</sup><span>&frasl;</span><sub>30</sub></span><br>
                    oraz<br>
                    <span class="frac"><sup>7</sup><span>&frasl;</span><sub>10</sub></span> =
                    <span class="frac"><sup>7*3</sup><span>&frasl;</span><sub>10*3</sub></span> =
                    <span class="frac"><sup>21</sup><span>&frasl;</span><sub>30</sub></span>
                </p>
                <p>
                    <b>Teraz możemy już dodać nasze ułamki (dodajemy liczniki, a mianownik przepisujemy):</b><br>
                    <span class="frac"><sup>16</sup><span>&frasl;</span><sub>30</sub></span> +
                    <span class="frac"><sup>21</sup><span>&frasl;</span><sub>30</sub></span> =
                    <span class="frac"><sup>37</sup><span>&frasl;</span><sub>30</sub></span><br>
                    Pamiętajmy o uproszczeniu wyniku (skracamy, wyłączamy całości). W naszym przypadku da się
                    wyłączyć całości:<br>
                    <span class="frac"><sup>37</sup><span>&frasl;</span><sub>30</sub></span> =
                    3<span class="frac"><sup>7</sup><span>&frasl;</span><sub>30</sub></span>
                </p>
                <p>
                    Zapis całego działania wygląda więc następująco:
                </p>
                <p style="text-align: center" >
                    <span class="important">
                        <span class="frac"><sup>8</sup><span>&frasl;</span><sub>15</sub></span> +
                        <span class="frac"><sup>7</sup><span>&frasl;</span><sub>10</sub></span> =
                        <span class="frac"><sup>16</sup><span>&frasl;</span><sub>30</sub></span> +
                        <span class="frac"><sup>21</sup><span>&frasl;</span><sub>30</sub></span> =
                        <span class="frac"><sup>37</sup><span>&frasl;</span><sub>30</sub></span> =
                        3<span class="frac"><sup>7</sup><span>&frasl;</span><sub>30</sub></span><br>
                    </span>
                </p>
                <p>
                    <a href="/addition-easy" class="arrow_previous"></a>
                    <a href="/subtraction-easy" class="arrow_next"></a>
                </p>
                <p>
                    <span class="text_left">Dodawanie ułamków o jednakowych mianownikach</span>
                    <span class="text_right">Odejmowanie ułamków o jednakowych mianownikach</span>
                </p>
            </article>
        </main>
    </section>
</body>
</html>