<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Ułamki</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" href=".../resources/static/css/style.css"/>
</head>
<body>
    <section layout:fragment="content">
         <main>
            <article>
                <span class="text_right"><a class="briefly_open" onclick="pop()">W skrócie!</a></span>
                <h3>Dzielenie ułamków zwykłych</h3>
                <div id="briefly_box">
<!--                    <img src=".../resources/static/images/fractions_operations/division.gif"-->
<!--                         th:src="@{images/fractions_operations/division.gif}" alt="gif">-->
                    <img th:src="@{images/app/site_under_construction.gif}" alt="gif">
                    <a class="briefly_close" onclick="pop()">Zamknij</a>
                </div>
                <script src=".../resources/static/scripts/briefly.js" th:src="@{scripts/briefly.js}"></script>
                <p>
                    Dzielenie ułamków zwykłych to zdecydowanie najmniej intuicyjne z działań.
                    Można oczywiście rozpatrywać poszczególne przypadki powołując się na logikę.
                </p>
                <p>
                    <b>Przykład 1.</b><br>
                    <span class="frac"><sup>6</sup><span>&frasl;</span><sub>7</sub></span> : 2 =
                    <span class="frac"><sup>3</sup><span>&frasl;</span><sub>7</sub></span>
                    bo z 6 części zabieramy połowę.
                </p>
                <p>
                    <b>Przykład 2.</b><br>
                    1 <span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span> :
                    <span class="frac"><sup>1</sup><span>&frasl;</span><sub>4</sub></span> = 6,
                    bo <span class="frac"><sup>1</sup><span>&frasl;</span><sub>4</sub></span> mieści się 6 razy w
                    1 <span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span> itp.
                </p>
                <p>
                    Jednak z przykładami
                    <span class="frac"><sup>2</sup><span>&frasl;</span><sub>7</sub></span> :
                    <span class="frac"><sup>5</sup><span>&frasl;</span><sub>8</sub></span> czy
                    1 <span class="frac"><sup>2</sup><span>&frasl;</span><sub>5</sub></span> :
                    <span class="frac"><sup>13</sup><span>&frasl;</span><sub>17</sub></span> już tak łatwo nie będzie.
                </p>
                <p>
                    Dlatego warto nauczyć się schematu:<br>
                    <b>Zamiast dzielenia ułamków wykonujemy mnożenie pierwszego ułamka przez odwrotność drugiego.</b>
                </p>
                <p style="text-align: center" >
                    <span class="important">
                    <span class="frac"><sup>2</sup><span>&frasl;</span><sub>7</sub></span> :
                    <span class="frac"><sup>5</sup><span>&frasl;</span><sub>8</sub></span> =
                    <span class="frac"><sup>2</sup><span>&frasl;</span><sub>7</sub></span> *
                    <span class="frac"><sup>8</sup><span>&frasl;</span><sub>5</sub></span> =
                    <span class="frac"><sup>2 * 8</sup><span>&frasl;</span><sub>7 * 5</sub></span> =
                    <span class="frac"><sup>16</sup><span>&frasl;</span><sub>35</sub></span>
                    </span>
                </p>
                <p>
                    <a href="/reciprocal" class="arrow_previous"></a>
                    <a href="/additions-list" class="arrow_next"></a>
                </p>
                <p>
                    <span class="text_left">Odwrotność ułamka</span>
                    <span class="text_right">Ułamki - dodatek</span>
                </p>
            </article>
        </main>
    </section>
</body>
</html>