<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Ułamki</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" href=".../resources/static/css/style.css"/>
</head>
<body>
    <section layout:fragment="content">
         <main>
            <article>
                <span class="text_right"><a class="briefly_open" onclick="pop()">W skrócie!</a></span>
                <h3>Mnożenie ułamków zwykłych</h3>
                <div id="briefly_box">
                    <img src=".../resources/static/images/fractions_operations/multiplication.gif"
                         th:src="@{images/fractions_operations/multiplication.gif}" alt="gif">
                    <a class="briefly_close" onclick="pop()">Zamknij</a>
                </div>
                <script src=".../resources/static/scripts/briefly.js" th:src="@{scripts/briefly.js}"></script>
                <p>
                    Mnożenie ułamków jest generalnie dużo łatwiejsze niż dodawanie.
                    Jedyną trudność może sprawić skracanie, które często wykonuje się podczas tego działania.
                    Zobaczmy przykład:
                </p>
                <p style="text-align: center" >
                    <span class="important">
                    <span class="frac"><sup>2</sup><span>&frasl;</span><sub>3</sub></span> *
                    <span class="frac"><sup>4</sup><span>&frasl;</span><sub>5</sub></span> =
                    <b><span class="frac"><sup>2 * 4</sup><span>&frasl;</span><sub>3 * 5</sub></span> = </b>
                    <span class="frac"><sup>8</sup><span>&frasl;</span><sub>15</sub></span>
                    </span>
                </p>
                <p>
                    Jak widać <b>wystarczy pomnożyć licznik przez licznik oraz mianownik przez mianownik.</b>
                </p>
                <p>
                    Co jednak w przypadku:<br>
                    <span class="frac"><sup>5</sup><span>&frasl;</span><sub>7</sub></span> *
                    <span class="frac"><sup>7</sup><span>&frasl;</span><sub>9</sub></span> =
                    <span class="frac"><sup>5 * 7</sup><span>&frasl;</span><sub>7 * 9</sub></span> =
                    <span class="frac"><sup>35</sup><span>&frasl;</span><sub>63</sub></span> = (skracamy)
                    <span class="frac"><sup>35 : 7</sup><span>&frasl;</span><sub>63 : 7</sub></span> =
                    <span class="frac"><sup>5</sup><span>&frasl;</span><sub>9</sub></span><br>
                    Jak widać najpierw mnożymy przez 7, a za chwilę dzielimy przez siedem przy skracaniu.
                    W tej sytuacji lepiej skrócić przed mnożeniem:
                </p>
                <p style="text-align: center" >
                    <span class="important">
                    <span class="frac"><sup>5</sup><span>&frasl;</span><sub>7</sub></span> *
                    <span class="frac"><sup>7</sup><span>&frasl;</span><sub>9</sub></span> =
                    <span class="frac"><sup>5 * <span style="text-decoration: line-through">7</span><sup>1</sup></sup>
                        <span>&frasl;</span><sub><span style="text-decoration: line-through">7</span><sup>1</sup> * 9</sub></span> =
                    <span class="frac"><sup>5</sup><span>&frasl;</span><sub>9</sub></span>
                    </span>
                </p>
                <p>
                    Przekreślenie oznacza, że liczba została podzielona (tutaj przez 7) i już nie bierze się jej pod uwagę.
                    Obok wpisujemy wynik dzielenie (tutaj 1, bo 7:7 = 1) i tę liczbę następnie mnożymy.<br>
                    Inaczej moglibyśmy to rozpisać następująco:
                </p>
                <p style="text-align: center" >
                    <span class="important">
                    <span class="frac"><sup>5</sup><span>&frasl;</span><sub>7</sub></span> *
                    <span class="frac"><sup>7</sup><span>&frasl;</span><sub>9</sub></span> =
                    <span class="frac"><sup>5 * 7</sup><span>&frasl;</span><sub>7 * 9</sub></span> =
                    <span class="frac"><sup>5 * 7</sup><span>&frasl;</span><sub>9 * 7</sub></span> =
                    <span class="frac"><sup>5 * (7 : 7)</sup><span>&frasl;</span><sub>9 * (7 : 7)</sub></span> =
                    <span class="frac"><sup>5 * 1</sup><span>&frasl;</span><sub>9 * 1</sub></span> =
                    <span class="frac"><sup>5</sup><span>&frasl;</span><sub>9</sub></span>
                    </span>
                </p>
                <p>
                    Czasem można skracać wielokrotnie:
                </p>
                <p style="text-align: center" >
                    <span class="important">
                    <span class="frac"><sup>10</sup><span>&frasl;</span><sub>14</sub></span> *
                    <span class="frac"><sup>7</sup><span>&frasl;</span><sub>15</sub></span> =
                    <span class="frac"><sup>10 * 7</sup><span>&frasl;</span><sub>14 * 15</sub></span> =
                    <span class="frac"><sup>10 * (7 : 7)</sup><span>&frasl;</span><sub>(14 : 7) * 15</sub></span> =
                    <span class="frac"><sup>10 * 1</sup><span>&frasl;</span><sub>2 * 15</sub></span> =
                    <span class="frac"><sup>(10 : 5) * 1</sup><span>&frasl;</span><sub>2 * (15 : 5)</sub></span> =
                    <span class="frac"><sup>2 * 1</sup><span>&frasl;</span><sub>2 * 3</sub></span> =
                    <span class="frac"><sup>(2 : 2) * 1</sup><span>&frasl;</span><sub>(2 : 2) * 3</sub></span> =
                    <span class="frac"><sup>1 * 1</sup><span>&frasl;</span><sub>1 * 3</sub></span> =
                    <span class="frac"><sup>1</sup><span>&frasl;</span><sub>3</sub></span>
                    </span>
                </p>
                <p>
                    czyli skracaliśmy "górę" i "dół" kolejno przez 7, potem przez 5 i na końcu przez 2.
                </p>
                <p>
                    <a href="/multiplication-by-number"><img class="arrow_previous_next" style="float: left"
                                             th:src="@{images/arrow_left2.png}" src=".../resources/static/images/arrow_left2.png"/></a>
                    <a href="/reciprocal"><img class="arrow_previous_next" style="float: right"
                                                      th:src="@{images/arrow_right2.png}" src=".../resources/static/images/arrow_right2.png"/></a>
                </p>
                <p>
                    <span class="text_left">Mnożenie ułamka przez liczbę naturalną</span>
                    <span class="text_right">Odwrotność ułamka</span>
                </p>
            </article>
        </main>
    </section>
</body>
</html>