<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Ułamki</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" href=".../resources/static/css/style.css"/>
</head>
<body>
    <section layout:fragment="content">
         <main>
            <article>
                <span class="text_right"><a class="briefly_open" onclick="pop()">W skrócie!</a></span>
                <h3>Dodawanie ułamków zwykłych</h3>
                <div id="briefly_box">
                    <img src=".../resources/static/images/fractions_operations/multiplication_by_number.gif"
                         th:src="@{images/fractions_operations/multiplication_by_number.gif}" alt="gif">
                    <a class="briefly_close" onclick="pop()">Zamknij</a>
                </div>
                <script src=".../resources/static/scripts/briefly.js" th:src="@{scripts/briefly.js}"></script>
                <h3>Mnożenie ułamków zwykłych przez liczbę naturalną</h3>
                <p>
                    Rozważmy przykład:<br>
                    3 * 2 = 2 + 2 + 2 = 6<br>
                    a więc analogicznie:<br>
                    3 * <span class="frac"><sup>2</sup><span>&frasl;</span><sub>7</sub></span> =
                    <span class="frac"><sup>2</sup><span>&frasl;</span><sub>7</sub></span> +
                    <span class="frac"><sup>2</sup><span>&frasl;</span><sub>7</sub></span> +
                    <span class="frac"><sup>2</sup><span>&frasl;</span><sub>7</sub></span> =
                    <span class="frac"><sup>6</sup><span>&frasl;</span><sub>7</sub></span>
                </p>
                <p>
                    Jak łatwo się domyślić, <b>aby pomnożyć ułamek przez liczbę
                    wystarczy pomnożyć licznik przez tę liczbę, a mianownik przepisać: </b>
                </p>
                <p style="text-align: center" >
                    <span class="important">
                    3 * <span class="frac"><sup>2</sup><span>&frasl;</span><sub>7</sub></span> =
                    <span class="frac"><sup>3 * 2</sup><span>&frasl;</span><sub>7</sub></span> =
                    <span class="frac"><sup>6</sup><span>&frasl;</span><sub>7</sub></span>
                    </span>
                </p>
                <p>
                    Jeżeli da się przy tym wykonać skracanie, to robimy to.<br>
                    Np. 6 * <span class="frac"><sup>7</sup><span>&frasl;</span><sub>15</sub></span> =
                    <span class="frac"><sup>6 * 7</sup><span>&frasl;</span><sub>15</sub></span> =...<br>
                    (6 w liczniku i 15 w mianowniku możemy przy mnożeniu ułamków skrócić jak zwykły ułamek
                    <span class="frac"><sup>6</sup><span>&frasl;</span><sub>15</sub></span> =
                    <span class="frac"><sup>6 : 3</sup><span>&frasl;</span><sub>15 : 3</sub></span> =
                    <span class="frac"><sup>2</sup><span>&frasl;</span><sub>5</sub></span>
                    a zatem mamy:
                </p>
                <p style="text-align: center" >
                    <span class="important">
                    6 * <span class="frac"><sup>7</sup><span>&frasl;</span><sub>15</sub></span> =
                    <span class="frac"><sup>6 * 7</sup><span>&frasl;</span><sub>15</sub></span> =
                    <span class="frac"><sup>2 * 7</sup><span>&frasl;</span><sub>5</sub></span> =
                    <span class="frac"><sup>14</sup><span>&frasl;</span><sub>5</sub></span> =
                    2 <span class="frac"><sup>4</sup><span>&frasl;</span><sub>5</sub></span>
                    </span>
                </p>
                <p>
                    <a href="/subtraction-special" class="arrow_previous"></a>
                    <a href="/multiplication" class="arrow_next"></a>
                </p>
                <p>
                    <span class="text_left">Odejmowanie ułamków - przypadki specjalne</span>
                    <span class="text_right">Mnożenie ułamków zwykłych</span>
                </p>
            </article>
        </main>
    </section>
</body>
</html>