<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Ułamki</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" href=".../resources/static/css/style.css"/>
</head>
<body>
    <section layout:fragment="content">
         <main>
            <article>
                <span class="text_right"><a class="briefly_open" onclick="brieflyBox()">W skrócie!</a></span>
                <!--                <span class="text_right"><a class="briefly_open" onclick="brieflyBox()">W skrócie!</a> &nbsp-->
                <!--                <a class="practice_open" onclick="practiceBox()">Ćwicz</a></span>-->
                <h3>Odwrotność ułamka zwykłego</h3>
                <div id="briefly_box">
<!--                    <img src=".../resources/static/images/fractions_operations/reciprocal.gif"-->
<!--                         th:src="@{images/fractions_operations/reciprocal.gif}" alt="gif">-->
                    <img th:src="@{images/app/site_under_construction.gif}" alt="gif">
                    <a class="briefly_close" onclick="brieflyBox()">Zamknij</a>
                </div>
                <!--                <div id="practice_box">-->
                <!--                    Ćwicz odwrotność ułamków.-->
                <!--                    <a class="practice_close" onclick="practiceBox()">Zamknij</a>-->
                <!--                </div>-->
                <script src=".../resources/static/scripts/modals.js" th:src="@{scripts/modals.js}"></script>
                <p>
                    <b>Odwrotność ułamka to ułamek powstały poprzez zamianę miejscami ("odwrócenie")
                        licznika z mianownikiem.</b><br>
                    Np. odwrotnością ułamka
                    <span class="frac"><sup>3</sup><span>&frasl;</span><sub>7</sub></span> jest ułamek
                    <span class="frac"><sup>7</sup><span>&frasl;</span><sub>3</sub></span><br>
                    Odwrotnością 5 jest <span class="frac"><sup>1</sup><span>&frasl;</span><sub>5</sub></span> &nbsp
                    (ponieważ 5 = <span class="frac"><sup>5</sup><span>&frasl;</span><sub>1</sub></span>)<br>
                    Odwrotnością 2 <span class="frac"><sup>3</sup><span>&frasl;</span><sub>5</sub></span>
                    jest <span class="frac"><sup>5</sup><span>&frasl;</span><sub>13</sub></span>
                    (ponieważ 2 <span class="frac"><sup>3</sup><span>&frasl;</span><sub>5</sub></span> =
                    <span class="frac"><sup>13</sup><span>&frasl;</span><sub>5</sub></span>)
                </p>
                <br>
                <p>
                    <a href="/multiplication" class="arrow_previous"></a>
                    <a href="/division" class="arrow_next"></a>
                </p>
                <p>
                    <span class="text_left">Mnożenie ułamków zwykłych</span>
                    <span class="text_right">Dzielenie ułamków zwykłych</span>
                </p>
            </article>
        </main>
    </section>
</body>
</html>