<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Ułamki</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" href=".../resources/static/css/style.css"/>
</head>
<body>
    <section layout:fragment="content">
         <main>
            <article>
                <h3>Odwrotność ułamka zwykłego</h3>
                <p></p>
                <br>
                <p>
                    <a href="/multiplication"><img class="arrow_previous_next" style="float: left"
                                             th:src="@{images/arrow_left2.png}" src=".../resources/static/images/arrow_left2.png"/></a>
                    <a href="/division"><img class="arrow_previous_next" style="float: right"
                                                      th:src="@{images/arrow_right2.png}" src=".../resources/static/images/arrow_right2.png"/></a>
                </p>
                <p>
                    <span class="text_left">Mnożenie ułamków zwykłych</span>
                    <span class="text_right">Dzielenie ułamków zwykłych</span>
                </p>
            </article>
        </main>
    </section>
</body>
</html>