<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Ułamki</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" href=".../resources/static/css/style.css"/>
</head>
<body>
    <section layout:fragment="content">
         <main>
            <article>
                <h3>Odejmowanie ułamków zwykłych - szczególne przypadki</h3>
                <p>
                    Czasami musimy odjąć ułamek od liczby naturalnej lub odjąć liczby mieszane,
                    w których pierwszy ułamek jest mniejszy od drugiego. Jak to zrobić?
                </p>
                <p>
                    <b>Aby odjąć ułamek od 1 wystarczy zamienić całość na "odpowiedni" ułamek i odjąć np.</b>
                </p>
                <p style="text-align: center" >
                    <span class="important">
                    1 - <span class="frac"><sup>3</sup><span>&frasl;</span><sub>5</sub></span> =
                    <span class="frac"><sup>5</sup><span>&frasl;</span><sub>5</sub></span> -
                    <span class="frac"><sup>3</sup><span>&frasl;</span><sub>5</sub></span> =
                    <span class="frac"><sup>2</sup><span>&frasl;</span><sub>5</sub></span>
                    </span>
                </p>
                <p>
                    Jak widać "odpowiedni" oznacza taki, który ma licznik i mianownik równy mianownikowi
                        ułamka odejmowanego.
                </p>
                <br><hr>
                <p>
                    <b>Jeżeli chcemy odjąć ułamek od większej liczby naturalnej robimy bardzo podobnie,
                        tzn. zamieniamy 1 na ułamek jak poprzednio, a resztę całości zostawiamy.</b><br>Np.
                    </p>

                <p style="text-align: center" >
                    <span class="important">
                        17 - <span class="frac"><sup>3</sup><span>&frasl;</span><sub>5</sub></span> =
                    16 <span class="frac"><sup>5</sup><span>&frasl;</span><sub>5</sub></span> -
                    <span class="frac"><sup>3</sup><span>&frasl;</span><sub>5</sub></span> =
                    16 <span class="frac"><sup>2</sup><span>&frasl;</span><sub>5</sub></span>
                    </span>
                </p>
                <br><hr>
                <p>
                    Ostatni przypadek jest najtrudniejszy.Weźmy:<br>
                    15 <span class="frac"><sup>1</sup><span>&frasl;</span><sub>7</sub></span> -
                    5 <span class="frac"><sup>3</sup><span>&frasl;</span><sub>7</sub></span> = ...?<br>
                    Jak widać problematyczne może być odjęcie od 1/7 ułamka 3/7 (od mniejszego większy).
                    W tej sytuacji <b>najlepiej "pożyczyć" z całości 1 i zamienić ją na ułamek</b> tak jak wcześniej, czyli:<br>
                    15 <span class="frac"><sup>1</sup><span>&frasl;</span><sub>7</sub></span> =
                    14 + 1 + <span class="frac"><sup>1</sup><span>&frasl;</span><sub>7</sub></span> =
                    14 + <span class="frac"><sup>7</sup><span>&frasl;</span><sub>7</sub></span> +
                    <span class="frac"><sup>1</sup><span>&frasl;</span><sub>7</sub></span> =
                    14 <span class="frac"><sup>8</sup><span>&frasl;</span><sub>7</sub></span><br>
                    Ostatecznie mamy więc:
                </p>
                <p style="text-align: center" >
                    <span class="important">
                    15 <span class="frac"><sup>1</sup><span>&frasl;</span><sub>7</sub></span> -
                    5 <span class="frac"><sup>3</sup><span>&frasl;</span><sub>7</sub></span> =
                    14 <span class="frac"><sup>8</sup><span>&frasl;</span><sub>7</sub></span> -
                    5 <span class="frac"><sup>3</sup><span>&frasl;</span><sub>7</sub></span> =
                    14 - 5 + <span class="frac"><sup>8</sup><span>&frasl;</span><sub>7</sub></span> -
                    <span class="frac"><sup>3</sup><span>&frasl;</span><sub>7</sub></span> =
                    9 <span class="frac"><sup>5</sup><span>&frasl;</span><sub>7</sub></span>
                    </span>
                </p>
                <p>
                    Oczywiście pamiętamy, że przy odejmowaniu liczb mieszanych odejmujemy całości od całości
                    i ułamek od ułamka.
                </p>
                <p>
                    <b>Ważne: </b>inną alternatywą dla tej metody jest zamiana liczb mieszanych na ułamki niewłaściwe
                    i wykonanie odejmowania. Jednak przy bardziej skomplikowanych ułamkach może być wielce klopotliwa.
                </p>
                <p>
                    <a href="/subtraction"><img class="arrow_previous_next" style="float: left"
                                             th:src="@{images/arrow_left2.png}" src=".../resources/static/images/arrow_left2.png"/></a>
                    <a href="/multiplication-by-number"><img class="arrow_previous_next" style="float: right"
                                                      th:src="@{images/arrow_right2.png}" src=".../resources/static/images/arrow_right2.png"/></a>
                </p>
                <p>
                    <span class="text_left">Odejmowanie ułamków zwykłych</span>
                    <span class="text_right">Mnożenie ułamka zwykłego przez liczbę naturalną</span>
                </p>
            </article>
        </main>
    </section>
</body>
</html>