<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Ułamki</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" href=".../resources/static/css/style.css"/>
</head>
<body>
    <section layout:fragment="content">
         <main>
            <article>
                <span class="text_right"><a class="briefly_open" onclick="brieflyBox()">W skrócie!</a></span>
                <!--                <span class="text_right"><a class="briefly_open" onclick="brieflyBox()">W skrócie!</a> &nbsp-->
                <!--                <a class="practice_open" onclick="practiceBox()">Ćwicz</a></span>-->
                <h3>Odejmowanie ułamków zwykłych o jednakowych mianownikach</h3>
                <div id="briefly_box">
<!--                    <img src=".../resources/static/images/fractions_operations/subtraction_easy.gif"-->
<!--                         th:src="@{images/fractions_operations/subtraction_easy.gif}" alt="gif">-->
                    <img th:src="@{images/app/site_under_construction.gif}" alt="gif">
                    <a class="briefly_close" onclick="brieflyBox()">Zamknij</a>
                </div>
                <!--                <div id="practice_box">-->
                <!--                    Ćwicz odejmowanie ułamków.-->
                <!--                    <a class="practice_close" onclick="practiceBox()">Zamknij</a>-->
                <!--                </div>-->
                <script src=".../resources/static/scripts/modals.js" th:src="@{scripts/modals.js}"></script>
                <p>
                    Odejmowanie ułamków o jednakowych mianownikach jest bardzo proste.
                    Wykonujemy je tak, jak dodawanie, czyli <b>wystarczy odjąć liczniki, a mianownik przepisać.</b><br>
                    Np.
                </p>
                <p style="text-align: center" >
                    <span class="important">
                    <span class="frac"><sup>4</sup><span>&frasl;</span><sub>5</sub></span> -
                    <span class="frac"><sup>1</sup><span>&frasl;</span><sub>5</sub></span> =
                    <span class="frac"><sup>4 - 1</sup><span>&frasl;</span><sub>5</sub></span> =
                    <span class="frac"><sup>3</sup><span>&frasl;</span><sub>5</sub></span>
                    </span>
                </p>
                <p>
                    <b>Ważne:</b> wynik działania powinien być nieskracalny i z wyłączonymi całościami!
                </p>
                <p>
                    <a href="/addition" class="arrow_previous"></a>
                    <a href="/subtraction" class="arrow_next"></a>
                </p>
                <p>
                    <span class="text_left">Dodawanie ułamków zwykłych</span>
                    <span class="text_right">Odejmowanie ułamków zwykłych</span>
                </p>
            </article>
        </main>
    </section>
</body>
</html>