<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Ułamki</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" href=".../resources/static/css/style.css"/>
</head>
<body>
    <section layout:fragment="content">
         <main>
            <article>
                <h3>Odejmowanie ułamków zwykłych o jednakowych mianownikach</h3>
                <p>
                    Odejmowanie ułamków o jednakowych mianownikach jest bardzo proste.
                    Wykonujemy je tak, jak dodawanie, czyli wystarczy odjąć liczniki, a mianownik przepisać.<br>
                    Np. <span class="frac"><sup>4</sup><span>&frasl;</span><sub>5</sub></span> -
                    <span class="frac"><sup>1</sup><span>&frasl;</span><sub>5</sub></span> =
                    <span class="frac"><sup>3</sup><span>&frasl;</span><sub>5</sub></span><br>
                    <b>Ważne:</b> wynik działania powinien być nieskracalny i z wyłączonymi całościami!
                </p>
                <br>
                <p>
                    <a href="/addition"><img class="arrow_previous_next" style="float: left"
                                             th:src="@{images/arrow_left2.png}" src=".../resources/static/images/arrow_left2.png"/></a>
                    <a href="/subtraction"><img class="arrow_previous_next" style="float: right"
                                                      th:src="@{images/arrow_right2.png}" src=".../resources/static/images/arrow_right2.png"/></a>
                </p>
                <p>
                    <span class="text_left">Dodawanie ułamków zwykłych</span>
                    <span class="text_right">Odejmowanie ułamków zwykłych</span>
                </p>
            </article>
        </main>
    </section>
</body>
</html>