<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Ułamki</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" href=".../resources/static/css/style.css"/>
</head>
<body>
    <section layout:fragment="content">
         <main>
            <article>
                <span class="text_right"><a class="briefly_open" onclick="pop()">W skrócie!</a></span>
                <h3>Odejmowanie ułamków zwykłych</h3>
                <div id="briefly_box">
                    <img src=".../resources/static/images/fractions_operations/subtraction.gif"
                         th:src="@{images/fractions_operations/subtraction.gif}" alt="gif">
                    <a class="briefly_close" onclick="pop()">Zamknij</a>
                </div>
                <script src=".../resources/static/scripts/briefly.js" th:src="@{scripts/briefly.js}"></script>
                <p>
                    Podobnie jak w dodawaniu ułamków zwykłych - przy odejmowaniu należy sprowadzić je do wspólnego mianownika.
                    Potem już tylko odejmujemy liczniki, a mianownik przepisujemy. Oczywiście pamiętamy o skróceniu
                    i wyłączeniu całości (o ile się da) w wyniku.
                </p>
                <p>
                    Np.  <span class="frac"><sup>5</sup><span>&frasl;</span><sub>6</sub></span> -
                    <span class="frac"><sup>3</sup><span>&frasl;</span><sub>8</sub></span> = <br>
                    <b>Sprowadzamy do wspólnego mianownika:</b><br>
                    Krok 1<br>
                    Wielokrotności mianowników to: <br>dla 8 - 8, 16, 24, 32, 40...<br>
                    dla 6 - 6, 12, 18, <b>24</b> stop! <br>
                    Krok 2<br>
                    Wspólnym mianownik (wspólna wielokrotność) dla 6 i 8 to 24<br>
                    Krok 3<br>
                    Rozszerzamy oba ułamki tak, aby miały mianownik 24:<br>
                    <span class="frac"><sup>5</sup><span>&frasl;</span><sub>6</sub></span> =
                    <span class="frac"><sup>5*4</sup><span>&frasl;</span><sub>6*4</sub></span> =
                    <span class="frac"><sup>20</sup><span>&frasl;</span><sub>24</sub></span><br>
                    oraz<br>
                    <span class="frac"><sup>3</sup><span>&frasl;</span><sub>8</sub></span> =
                    <span class="frac"><sup>3*3</sup><span>&frasl;</span><sub>8*3</sub></span> =
                    <span class="frac"><sup>9</sup><span>&frasl;</span><sub>24</sub></span>
                </p>
                <p>
                    <b>Teraz możemy już dodać nasze ułamki (dodajemy liczniki, a mianownik przepisujemy):</b><br>
                    <span class="frac"><sup>20</sup><span>&frasl;</span><sub>24</sub></span> -
                    <span class="frac"><sup>9</sup><span>&frasl;</span><sub>24</sub></span> =
                    <span class="frac"><sup>11</sup><span>&frasl;</span><sub>24</sub></span><br>
                    To jest koniec, ponieważ otrzymanego ułamka nie da się skrócić, ani wyłączyć z niego całości.
                </p>
                <p>
                    Zapis całego działania wygląda więc następująco:
                </p>
                <p style="text-align: center" >
                    <span class="important">
                        <span class="frac"><sup>5</sup><span>&frasl;</span><sub>6</sub></span> -
                        <span class="frac"><sup>3</sup><span>&frasl;</span><sub>8</sub></span> =
                        <span class="frac"><sup>20</sup><span>&frasl;</span><sub>24</sub></span> -
                        <span class="frac"><sup>9</sup><span>&frasl;</span><sub>24</sub></span> =
                        <span class="frac"><sup>11</sup><span>&frasl;</span><sub>24</sub></span><br>
                    </span>
                </p>
                <p>
                    <a href="/subtraction-easy"><img class="arrow_previous_next" style="float: left"
                                             th:src="@{images/arrow_left2.png}" src=".../resources/static/images/arrow_left2.png"/></a>
                    <a href="/subtraction-special"><img class="arrow_previous_next" style="float: right"
                                                      th:src="@{images/arrow_right2.png}" src=".../resources/static/images/arrow_right2.png"/></a>
                </p>
                <p>
                    <span class="text_left">Odejmowanie ułamków o jednakowych mianownikach</span>
                    <span class="text_right">Odejmowanie ułamków zwykłych - przypadki specjalne</span>
                </p>
            </article>
        </main>
    </section>
</body>
</html>