* {
  padding: 0;
  margin: 0;
}


html {height:100%;}

body {height:100%;
	font-family: Calibri, Verdana, Arial;
	font-size:14px;
	line-height:1.5;
	color:#414141;
	background: #FAF7E5;
}

 

.container {min-height: 100%;
	height: auto !important;
	height: 100%;
	margin:0 auto -55px;
	width:1200px;
}

header {margin:10px 0 10px 0;
        height: 180px;
        border-radius: 3px;
        float: left;
        width: 80%;
        
}
header img {border-radius: 3px;
}
.box_header{float: right;
            height: 180px;
           width: 180px;
           margin: 10px 10px 10px 0;
           text-align: right;
           
}

aside {float:left; 
	width:18%;
	margin:0 0 20px;
}

aside nav ul {list-style:none;}

aside nav ul li {margin-bottom:1px;}

aside nav ul li a {display:block; 
		text-decoration:none; 
		color: #696969;
                font-weight: bold;
                font-size: 17px;
		background: #add8e6;
		padding:10px 15px;
                border-radius: 3px;
}

aside nav ul li a:hover{background: #F9E04B;
			color:#FFF;
}

aside nav ul li a:focus {border: 2px solid #aaaaaa;
        -webkit-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
        outline: none;
}

#main {float: right;
	width: 80%;
	padding: 0 0 10px 0px;
	margin: 0 0 10px 0;
        color: #696969;
}

.push {clear: both;
       height: 30px;
}

footer {clear: both;
	width: 1200px;
	bottom: 0;
	color: black;
        font-weight: bolder;
	background: #F9E04B;
	padding:10px 0 0 0;
	margin:0 auto 10px;
	height: 30px;
	text-align: center;
        border-radius: 3px;
}

.clr_container {
	background-color: white;
	width: 180px;
	padding: 30px 40px 30px 40px;
	margin-left: 15em;
	-webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
        font-family: Calibri, Verdana, Arial;
}

input[type=text],
input[type=password],
input[type=email],
textarea {
	width: 180px;
	background-color: #efefef;
	color: #666;
	border: 2px solid #ddd;
	border-radius: 3px;
	font-size: 16px;
	padding: 8px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
        
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
textarea:focus {
	-webkit-box-shadow: 0px 0px 8px 2px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 8px 2px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 8px 2px rgba(100,170,204,0.9);
	border: 2px solid  #CCCCFF;           /*#a5cda5;*/
	background-color: #e9f3e9;
	color: #428c42;
}	

input[type=submit],
input[type=reset]{
	width: 180px;
	background-color: #36b0f1;       /*#36b03c;*/
	font-size: 16px;
	color: white;
	padding: 10px 10px;
	margin-top: 20px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	letter-spacing: 1px;
	outline: none;
}
input[type=submit]:focus,
input[type=reset]:focus{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
        border: 2px solid #aaa;
}

input[type=submit]:hover {
	background-color: #37b93d;
}

input[type=reset]:hover {
	background-color: #ff8888;
	
}

/*
.calc_container {
	background-color: white;
	width: 180px;
	padding: 30px 40px 30px 40px;
	margin-left: 15em;
	-webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
        font-family: Calibri, Verdana, Arial;
}
*/

table { background-color: #d1C99d;         /*#F5EFbb; C9C291 #e6e1bb #e6eebb; #e7e9bb E3DEBA  DBD7B8 D1CCA7  DED7A5 #d1C99d*/
        font-size: 18px;
        font-weight: bolder;
        color: #616161;
        padding: 10px 15px 15px 15px;
        margin-left: 7em;
        border-spacing: 2px;
        border: 5px;
        border-radius: 3px;
        -webkit-box-shadow: 0px 0px 30px 5px rgba(180,180,180,0.9);
	-moz-box-shadow: 0px 0px 30px 5px rgba(180,180,180,0.9);
	box-shadow: 0px 0px 30px 5px rgba(180,180,180,0.9);
        font-family: Calibri, Verdana, Arial;
        box-sizing: border-box;
}



.input_calc[type=text] {width: 150px;
        color: #666;
	border: 2px solid #aaa;
	border-radius: 3px;
	font-size: 16px;
	padding: 8px;
	box-sizing: border-box;
        outline-width: 5px;
        outline-color: #770000;
        margin: 10px 0px 10px 0px;
        
                
}

.input_calc[type=text]:focus {
    
	-webkit-box-shadow: 0px 0px 5px 3px rgba(170,170,170,0.9);
	-moz-box-shadow: 0px 0px 5px 3px rgba(170,170,170,0.9);
	box-shadow: 0px 0px 10px 1px rgba(220,220,220,0.9);
	border: 2px solid #aaa;         /* #CCCCFF;           #a5cda5;*/
	background-color: #e9f3e9;
        box-sizing: border-box;
	color: #428c42;
}


button {
    width: 60px;
    height: 60px;
    background-color: #d5e1d5;   /*#FFF59D;     #e9f3e9;*/
    color: #616161;
    font-size: 18px;
    font-weight: normal;
    border: 2px solid #999;
    border-radius: 3px;
    box-sizing: border-box;
}

button:hover {background-color: #b5bbb5;   /*#FFF59D;     #e9f3e9;*/
    outline-color: #777;
    
}

button:focus {background-color: #c1ccc1;   /*#FFF59D;     #e9f3e9;*/
    outline-color: #777;
    
}

.button_result {
    width: 60px;
    height: 60px;
    background-color: #d1C99d;   /*#FFF59D;     #e9f3e9;*/
    color: #616161;
    font-size: 40px;
    font-weight: normal;
    border: 2px solid #d1C99d;
    border-radius: 3px;
    box-sizing: border-box;
}

.button_result:hover {background-color: #b5bbb5;   /*#FFF59D;     #e9f3e9;*/
    outline-color: #777;
    border: 2px solid #aaa;
    
}

.button_result:focus {background-color: #c1ccc1;   /*#FFF59D;     #e9f3e9;*/
    outline-color: #777;
    border: 2px solid #aaa;
    
}


.result {height: 40px;
        min-width: 100px;
        text-align: center; 
        font-size: 18px; 
        font-weight: bolder;
        background-color: #efefef;
	color: #666;
	border: 2px solid #aaa;
	border-radius: 3px;
	padding: 5px;
	box-sizing: border-box;
	outline: none; 
	/*margin: 10px 5px 10px 5px;*/
}

.input_frac[type=text] {width: 60px;
        height: 60px;
        color: #666;
        text-align: center;
        border: 2px solid #aaa;
	border-radius: 3px;
	font-size: 26px;
	padding: 0px;
	box-sizing: border-box;
        margin: 0px 0px 0px 0px;
}

.input_frac[type=text]:focus {
	-webkit-box-shadow: 0px 0px 5px 3px rgba(170,170,170,0.9);
	-moz-box-shadow: 0px 0px 5px 3px rgba(170,170,170,0.9);
	box-shadow: 0px 0px 10px 1px rgba(220,220,220,0.9);
	border: 2px solid #aaa;         /* #CCCCFF;           #a5cda5;*/
	background-color: #e9f3e9;
        box-sizing: border-box;
	color: #428c42;
}

.input_frac_operation[type=text] {width: 60px;
        height: 60px;
        color: #666;
        background-color: #d1C99d;
        text-align: center;
        border: 2px solid #d1C99d;
	border-radius: 3px;
	font-size: 40px;
	padding: 8px;
	box-sizing: border-box;
        outline-width: 5px;
        outline-color: #770000;
        margin: 10px 0px 10px 0px;
}

.input_frac_operation[type=text]:focus {
	-webkit-box-shadow: 0px 0px 5px 3px rgba(170,170,170,0.9);
	-moz-box-shadow: 0px 0px 5px 3px rgba(170,170,170,0.9);
	box-shadow: 0px 0px 10px 1px rgba(220,220,220,0.9);
	border: 2px solid #aaa;         /* #CCCCFF;           #a5cda5;*/
	background-color: #e9f3e9;
        box-sizing: border-box;
	color: #428c42;
}

.input_frac_operation[type=text]:hover {
    background-color: #b5bbb5;
    border: 2px solid #aaa;
}

.fraction_bar {
    width: 100%; 
    height: 4px; 
    background: #666;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.result_frac {height: 60px;
        min-width: 60px;
        text-align: center; 
        font-size: 30px; 
        font-weight: bolder;
        background-color: #efefef;
	color: #666;
	border: 2px solid #aaa;
	border-radius: 3px;
        box-sizing: border-box;
	outline: none; 
        display: table-cell;
	vertical-align: middle;
        padding: 0 0 0 0;
	/*margin: 10px 5px 10px 5px;*/
}
         
.myinput {width: 14em;
                            
}

.error,
input.error { background-color: #ffbfbf; }