<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Ułamki</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" href=".../resources/static/css/style.css"/>
</head>
<body>
    <section layout:fragment="content">
        <main>
            <article>
                <span class="text_right"><a class="briefly_open" onclick="pop()">W skrócie!</a></span>
                <h3>Budowa ułamka zwykłego</h3>

                <div id="briefly_box">
                    <img src=".../resources/static/images/build.gif" th:src="@{images/build.gif}" alt="gif">
                    <a class="briefly_close" onclick="pop()">Zamknij</a>
                </div>
                <script src=".../resources/static/scripts/briefly.js" th:src="@{scripts/briefly.js}"></script>

                <p>
                    Ułamek to część pewnej całości. Np. pół jabłka, ćwiartka pizzy itp.
                    Ułamek zwykły składa się z licznika i mianownika oraz oddzielającej je kreski ułamkowej.
                    Np. w ułamku  <span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span>
                    licznik to 3 a mianownik 4.
                    Licznik oznacza ile części zamalowano, zjedzono, zaznaczono itp.
                    a mianownik - ile jest wszystkich części.
                    W tym wypadku <span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span>
                    oznacza, że np. ktoś podzielił baton na 4 części i zjadł 3 z nich.
                    Można zatem powiedzieć, że zjadł trzy z czterech części, czyli inaczej mówiąc
                    trzy czwarte batonu. Zapisujemy to w taki sposób:
                    <span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span>.
                </p>
                <p>
                    <a href="/basics-list"><img class="arrow_previous_next" style="float: left" th:src="@{images/arrow_left2.png}"
                                                src=".../resources/static/images/arrow_left2.png"/></a>
                    <a href="/read"><img class="arrow_previous_next" style="float: right" th:src="@{images/arrow_right2.png}"
                                     src=".../resources/static/images/arrow_right2.png"/></a>
                </p>
                <p><span class="text_left">Powrót do listy</span><span class="text_right">Czytanie ułamków</span></p>
            </article>
        </main>
    <div style="clear: both;"></div>
    </section>
</body>
</html>