<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Ułamki</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" href=".../resources/static/css/style.css"/>
</head>
<body>
    <section layout:fragment="content">
         <main>
            <article>
                <h3>Porównywanie ułamków zwykłych</h3>
                <p>
                    Najłatwiej porównać ułamki zwykłe o jednakowych licznikach lub mianownikach.<br>
                    Np. <span class="frac"><sup>2</sup><span>&frasl;</span><sub>9</sub></span> <
                    <span class="frac"><sup>5</sup><span>&frasl;</span><sub>9</sub></span>
                    (ponieważ pięć części to więcej niż 2 części, a części są przecież równe (dziewiąte)).<br>
                    <span class="frac"><sup>1</sup><span>&frasl;</span><sub>3</sub></span> >
                    <span class="frac"><sup>1</sup><span>&frasl;</span><sub>10</sub></span>
                    (lepiej mieć jedną część przy podziale na 3, niż na 10)<br>
                    Podumowując:<br>
                    Z dwóch ułamków o jednakowych mianownikach większy jest ten, który ma większy licznik.<br>
                    Z dwóch ułamków o jednakowych licznikach większy jest ten, który ma mniejszy mianownik.<br><br>
                    Jeśli ułamki nie mają jednakowych liczników lub mianowników, najlepiej sprowadzić je do wspólnego
                    licznika lub mianownika i wtedy porównać wg zasad powyżej.<br>
                    <b>Ważne:</b> często można porównać ułamki skrajnie różne lub mając punkt odniesienia.<br>
                    Np.  <span class="frac"><sup>9</sup><span>&frasl;</span><sub>10</sub></span> >
                    <span class="frac"><sup>1</sup><span>&frasl;</span><sub>500</sub></span>  ponieważ
                    <span class="frac"><sup>9</sup><span>&frasl;</span><sub>10</sub></span> to prawie całość,
                    a <span class="frac"><sup>1</sup><span>&frasl;</span><sub>500</sub></span> to bardzo malutka część.<br>
                    Np. <span class="frac"><sup>3</sup><span>&frasl;</span><sub>7</sub></span> <
                    <span class="frac"><sup>11</sup><span>&frasl;</span><sub>20</sub></span>
                    ponieważ <span class="frac"><sup>3</sup><span>&frasl;</span><sub>7</sub></span>
                    to mniej niż pół (połowa z 7 to 3<span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span>),
                    a <span class="frac"><sup>11</sup><span>&frasl;</span><sub>20</sub></span> to więcej niż pół
                    (połowa z 20 to 10, czyli <span class="frac"><sup>10</sup><span>&frasl;</span><sub>20</sub></span>).
                </p>
                <br>
                <p>
                    <a href="/common-denominator"><img class="arrow_previous_next" style="float: left" th:src="@{images/arrow_left2.png}"
                                                src=".../resources/static/images/arrow_left2.png"/></a>
                    <a href="/operations-list"><img class="arrow_previous_next" style="float: right" th:src="@{images/arrow_right2.png}"
                                         src=".../resources/static/images/arrow_right2.png"/></a>
                </p>
                <p><span class="text_left">Wspólny mianownik</span><span class="text_right">Działania na ułamkach</span></p>
            </article>
        </main>
    </section>
</body>
</html>