<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Ułamki</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" href=".../resources/static/css/style.css"/>
</head>
<body>
    <section layout:fragment="content">
        <main>
            <article>
                <h3>Rozszerzanie ułamków zwykłych</h3>
                <p>Ułamek zwykły może przybierać różne postaci, a zachować tę samą wartość.<br>
                    Np. połowa to przecież jedna część z dwóch (czyli
                    <span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span>,
                    ale także trzy części z sześciu
                    (<span class="frac"><sup>3</sup><span>&frasl;</span><sub>6</sub></span>),
                    czy choćby pięć z dziesięciu
                    (<span class="frac"><sup>5</sup><span>&frasl;</span><sub>10</sub></span>).<br>
                    Zatem wszystkie te ułamki są równe.<br>
                    W bardzo prosty sposób można zmienić postać ułamka, zachowując jego wartość:<br>
                    Wystarczy pomnożyć licznik i mianownik przez tę samą liczbę naturalną.<br>
                    Np. dla <span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span>
                    może to być: <span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span> =
                    <span class="frac"><sup>1*7</sup><span>&frasl;</span><sub>2*7</sub></span> =
                    <span class="frac"><sup>7</sup><span>&frasl;</span><sub>14</sub></span><br>
                    Taką operację nazywamy rozszerzaniem ułamka.
                </p>
                <br>
                <p>
                    <a href="/improper-to-mixed"><img class="arrow_previous_next" style="float: left" th:src="@{images/arrow_left2.png}"
                                             src=".../resources/static/images/arrow_left2.png"/></a>
                    <a href="/reduce"><img class="arrow_previous_next" style="float: right" th:src="@{images/arrow_right2.png}"
                                                      src=".../resources/static/images/arrow_right2.png"/></a>
                </p>
                <p><span class="text_left">Wyłączanie całości</span><span class="text_right">Skracanie ułamków</span></p>
            </article>
        </main>
    </section>
</body>
</html>