<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Ułamki</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" href=".../resources/static/css/style.css"/>
</head>
<body>
    <section layout:fragment="content">
        <main>
            <article>
                <span class="text_right"><a class="briefly_open" onclick="pop()">W skrócie!</a></span>
                <h3>Wyłączanie całości z ułamka</h3>
                <div id="briefly_box">
<!--                    <img src=".../resources/static/images/fractions_basics/improper_to_mixed.gif"-->
<!--                         th:src="@{images/fractions_basics/improper_to_mixed.gif}" alt="gif">-->
                    <img th:src="@{images/app/site_under_construction.gif}" alt="gif">
                    <a class="briefly_close" onclick="pop()">Zamknij</a>
                </div>
                <script src=".../resources/static/scripts/briefly.js" th:src="@{scripts/briefly.js}"></script>
                <p>
                    Ułamki niewłaściwe można zamienić na liczby mieszane. Tę operację nazywamy wyłączaniem całości z ułamka.<br>
                    Np.
                </p>
                <p style="text-align: center" >
                    <span class="important">
                    <span class="frac"><sup>23</sup><span>/</span><sub>10</sub></span> =
                    2<span class="frac"><sup>3</sup><span>&frasl;</span><sub>10</sub></span>, bo 23 : 10 = 2 r 3
                    </span>
                </p>
                <p>
                    (dzielimy licznik przez mianownik - iloraz to całości, a reszta to licznik, mianownik przepisujemy).
                </p>
                <p>
                    <a href="/mixed-to-improper" class="arrow_previous"></a>
                    <a href="/expanding" class="arrow_next"></a>
                </p>
                <p><span class="text_left">Zamiana liczby mieszanej na ułamek niewłaściwy</span><span class="text_right">Rozszerzanie ułamków</span></p>
            </article>
        </main>
    </section>
</body>
</html>