<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Ułamki</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" href=".../resources/static/css/style.css"/>
</head>
<body>
    <section layout:fragment="content">
        <main>
            <article>
                <h3>Wyłączanie całości z ułamka</h3>
                <p>
                    Ułamki niewłaściwe można zamienić na liczby mieszane. Tę operację nazywamy wyłączaniem całości z ułamka.<br>
                    Np.
                </p>
                <p style="text-align: center" >
                    <span class="important">
                    <span class="frac"><sup>23</sup><span>/</span><sub>10</sub></span> =
                    2<span class="frac"><sup>3</sup><span>&frasl;</span><sub>10</sub></span>, bo 23 : 10 = 2 r 3
                    </span>
                </p>
                <p>
                    (dzielimy licznik przez mianownik - iloraz to całości, a reszta to licznik, mianownik przepisujemy).
                </p>
                <p>
                    <a href="/mixed-to-improper"><img class="arrow_previous_next" style="float: left" th:src="@{images/arrow_left2.png}"
                                                src=".../resources/static/images/arrow_left2.png"/></a>
                    <a href="/expanding"><img class="arrow_previous_next" style="float: right" th:src="@{images/arrow_right2.png}"
                                         src=".../resources/static/images/arrow_right2.png"/></a>
                </p>
                <p><span class="text_left">Zamiana liczby mieszanej na ułamek niewłaściwy</span><span class="text_right">Rozszerzanie ułamków</span></p>
            </article>
        </main>
    </section>
</body>
</html>