<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Ułamki</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" href=".../resources/static/css/style.css"/>
</head>
<body>
    <section layout:fragment="content">
        <main>
            <article>
                <h3>Zamiana ułamków mieszanych na niewłaściwe</h3>
                <p>
                    Liczby mieszane można zamienić na ułamek niewłaściwy.<br>
                    Np. 2<span class="frac"><sup>3</sup><span>&frasl;</span><sub>5</sub></span> to
                    <span class="frac"><sup>13</sup><span>&frasl;</span><sub>5</sub></span>, ponieważ 5*2+3 = 13, a mianownik przepisujemy<br>
                    A więc możemy zapisać:<br>
                </p>
                <p style="text-align: center" >
                    <span class="important">
                    2<span class="frac"><sup>3</sup><span>&frasl;</span><sub>5</sub></span> =
                    <span class="frac"><sup>5*2+3</sup><span>&frasl;</span><sub>5</sub></span> =
                    <span class="frac"><sup>13</sup><span>&frasl;</span><sub>5</sub></span>
                    </span>
                </p>
                <p>
                    <a href="/quotient"><img class="arrow_previous_next" style="float: left" th:src="@{images/arrow_left2.png}"
                                                src=".../resources/static/images/arrow_left2.png"/></a>
                    <a href="/improper-to-mixed"><img class="arrow_previous_next" style="float: right" th:src="@{images/arrow_right2.png}"
                                         src=".../resources/static/images/arrow_right2.png"/></a>
                </p>
                <p><span class="text_left">Ułamek jako iloraz</span><span class="text_right">Wyłączanie całości</span></p>
            </article>
        </main>
    </section>
</body>
</html>