<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Ułamki</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" href=".../resources/static/css/style.css"/>
</head>
<body>
    <section layout:fragment="content">
        <main>
            <article>
                <span class="text_right"><a class="briefly_open" onclick="pop()">W skrócie!</a></span>
                <h3>Ułamek jako iloraz</h3>
                <div id="briefly_box">
                    <img src=".../resources/static/images/fractions_basics/quotient.gif"
                         th:src="@{images/fractions_basics/quotient.gif}" alt="gif">
                    <a class="briefly_close" onclick="pop()">Zamknij</a>
                </div>
                <script src=".../resources/static/scripts/briefly.js" th:src="@{scripts/briefly.js}"></script>
                <p>
                    Ułamek to przede wszystkim część całości. Okazuje się jednak, że możemy go
                    zamienić na jedno z działań - na iloraz.<br> Czyli <b>kreska ułamkowa zastępuje dzielenia.</b><br>
                    Np.  <span class="frac"><sup>3</sup><span>&frasl;</span><sub>5</sub></span> = 3:5. &nbsp&nbsp
                    Podobnie w drugą stronę: &nbsp6:7 = <span class="frac"><sup>6</sup><span>&frasl;</span><sub>7</sub></span><br>
                    <b>Ważne:</b> Skoro nie dzielimy przez zero, to i mianownik nie może być zerem!!!
                </p>
                <br>
                <p>
                    <a href="/read" class="arrow_previous"></a>
                    <a href="/mixed-to-improper" class="arrow_next"></a>
                </p>
                <p><span class="text_left">Czytanie ułamków</span><span class="text_right">Zamiana liczby mieszanej na ułamek niewłaściwy</span></p>
            </article>
        </main>
    </section>
</body>
</html>