<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Ułamki</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" href=".../resources/static/css/style.css"/>
</head>
<body>
    <section layout:fragment="content">
        <main>
            <article>
                <span class="text_right"><a class="briefly_open" onclick="pop()">W skrócie!</a></span>
                <h3>Czytanie ułamków zwykłych</h3>
                <div id="briefly_box">
                    <img src=".../resources/static/images/fractions_basics/read.gif"
                         th:src="@{images/fractions_basics/read.gif}" alt="gif">
                    <a class="briefly_close" onclick="pop()">Zamknij</a>
                </div>
                <script src=".../resources/static/scripts/briefly.js" th:src="@{scripts/briefly.js}"></script>
                <p>
                    Ważne jest, aby prawidłowo czytać ułamki. Przykłady:
                    <ul>
                        <li><span class="frac"><sup>1</sup><span>&frasl;</span><sub>10</sub></span>
                            &nbsp; czytamy jedna dziesiąta (jedna część, jaka/która dziesiąta)<br>ale</li>
                        <li><span class="frac"><sup>2</sup><span>&frasl;</span><sub>7</sub></span>
                            &nbsp; czytamy dwie siódme (dwie części, jakie/które siódme)</li>
                        <li><span class="frac"><sup>3</sup><span>&frasl;</span><sub>5</sub></span>
                            &nbsp; czytamy trzy piąte (trzy części, jakie/które piąte)</li>
                        <li><span class="frac"><sup>4</sup><span>&frasl;</span><sub>13</sub></span>
                            &nbsp; czytamy cztery trzynaste (cztery części, jakie/które trzynaste)<br>ale</li>
                        <li><span class="frac"><sup>5</sup><span>&frasl;</span><sub>9</sub></span>
                            &nbsp; czytamy pięć dziewiątych (pięć części, jakich/których dziewiątych)</li>
                        <li><span class="frac"><sup>6</sup><span>&frasl;</span><sub>23</sub></span>
                            &nbsp; czytamy sześć dwudziestych trzecich (sześć części, jakich/których
                            dwudziestych trzecich)<br>itp.</li>
                    </ul>
                </p>
                <br>
                <p>
                    <a href="/build"><img class="arrow_previous_next" style="float: left" th:src="@{images/app/arrow_left2.png}"
                                                src=".../resources/static/images/arrow_left2.png"/></a>
                    <a href="/quotient"><img class="arrow_previous_next" style="float: right" th:src="@{images/app/arrow_right2.png}"
                                         src=".../resources/static/images/arrow_right2.png"/></a>
                </p>
                <p><span class="text_left">Budowa ułamka</span><span class="text_right">Ułamek jako iloraz</span></p>
            </article>
        </main>
    </section>
</body>
</html>