<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Ułamki</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" href=".../resources/static/css/style.css"/>
</head>
<body>
    <section layout:fragment="content">
        <main>
            <article>
                <span class="text_right"><a class="briefly_open" onclick="pop()">W skrócie!</a></span>
                <h3>Skracanie ułamków zwykłych</h3>
                <div id="briefly_box">
                    <img src=".../resources/static/images/fractions_basics/reduce.gif"
                         th:src="@{images/fractions_basics/reduce.gif}" alt="gif">
                    <a class="briefly_close" onclick="pop()">Zamknij</a>
                </div>
                <script src=".../resources/static/scripts/briefly.js" th:src="@{scripts/briefly.js}"></script>
                <p>
                    Skracanie ułamków zwykłych to operacja odwrotna do rozszerzania.
                    Tutaj <b>dzielimy licznik i mianownik przez tę samą liczbę naturalną</b>.
                    Nie zawsze da się jednak to wykonać. Wtedy mówimy, że dany ułamek jest <b>nieskracalny.</b>
                </p>
                <p>
                    <b>Ważne:</b> zawsze staramy się skracać do momentu uzyskania ułamka nieskracalnego.
                </p>
                    Ułamek skrócony jest równy ułamkowi pierwotnemu.
                    Np. ułamek  <span class="frac"><sup>15</sup><span>&frasl;</span><sub>35</sub></span>
                    możemy skrócić przez 5, ponieważ zarówno licznik jak i mianownik dzielą się przez 5.<br>
                    Po skróceniu uzyskamy ułamek <span class="frac"><sup>3</sup><span>&frasl;</span><sub>7</sub></span>
                    zgodnie ze schematem:
                </p>
                <p style="text-align: center" >
                    <span class="important">
                    <span class="frac"><sup>15</sup><span>&frasl;</span><sub>35</sub></span> =
                    <span class="frac"><sup>15:5</sup><span>&frasl;</span><sub>35:5</sub></span> =
                    <span class="frac"><sup>3</sup><span>&frasl;</span><sub>7</sub></span>
                    </span>
                </p>
                <p>
                    Możemy skracać "na raty", aż do uzyskania ułamka nieskracalnego:<br>
                    np.
                </p>
                <p style="text-align: center" >
                    <span class="important">
                    <span class="frac"><sup>36</sup><span>&frasl;</span><sub>48</sub></span> =
                    <span class="frac"><sup>36:2</sup><span>&frasl;</span><sub>48:2</sub></span> =
                    <span class="frac"><sup>18</sup><span>&frasl;</span><sub>24</sub></span> =
                    <span class="frac"><sup>18:6</sup><span>&frasl;</span><sub>24:6</sub></span> =
                    <span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span>
                    </span>
                </p>
                <p>
                    <a href="/expanding"><img class="arrow_previous_next" style="float: left" th:src="@{images/arrow_left2.png}"
                                                src=".../resources/static/images/arrow_left2.png"/></a>
                    <a href="/common-denominator"><img class="arrow_previous_next" style="float: right" th:src="@{images/arrow_right2.png}"
                                         src=".../resources/static/images/arrow_right2.png"/></a>
                </p>
                <p><span class="text_left">Rozszerzanie ułamków</span><span class="text_right">Wspólny mianownik</span></p>
            </article>
        </main>
    </section>
</body>
</html>