<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Ułamki</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" href=".../resources/static/css/style.css"/>
</head>
<body>
    <section layout:fragment="content">
        <main>
            <article>
                <h3>Rodzaje ułamków zwykłych</h3>
                <p>
                    Wyróżniamy ułamki:<br>
                    -<b>właściwe</b> - licznik mniejszy od mianownika np.
                        <span class="frac"><sup>1</sup><span>&frasl;</span><sub>3</sub></span>,
                        <span class="frac"><sup>4</sup><span>&frasl;</span><sub>15</sub></span>,
                        <span class="frac"><sup>9</sup><span>&frasl;</span><sub>100</sub></span> itp.<br>
                    -<b>niewłaściwe</b> - licznik większy od mianownika lub równy mianownikowi np.
                        <span class="frac"><sup>2</sup><span>&frasl;</span><sub>1</sub></span>,
                        <span class="frac"><sup>4</sup><span>&frasl;</span><sub>3</sub></span>,
                        <span class="frac"><sup>19</sup><span>&frasl;</span><sub>10</sub></span>,
                        <span class="frac"><sup>7</sup><span>&frasl;</span><sub>7</sub></span> itp.<br>
                    -<b>liczby mieszane</b> - liczba naturalna oraz ułamek np.
                    2<span class="frac"><sup>3</sup><span>&frasl;</span><sub>5</sub></span> (czytamy: dwa i trzy piąte
                    lub dwie całe i trzy piąte),
                    6<span class="frac"><sup>2</sup><span>&frasl;</span><sub>11</sub></span>,
                    23<span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span> itp.<br>
                    Ważne: ułamki właściwe są mniejsze od 1.
                </p>
                <br>
                <p>
                    <a href="/basics-list"><img class="arrow_previous_next" style="float: left" th:src="@{images/arrow_left2.png}"
                                                src=".../resources/static/images/arrow_left2.png"/></a>
                    <a href="/read"><img class="arrow_previous_next" style="float: right" th:src="@{images/arrow_right2.png}"
                                         src=".../resources/static/images/arrow_right2.png"/></a>
                </p>
                <p><span class="text_left">Powrót do listy</span><span class="text_right">Czytanie ułamków</span></p>
            </article>
        </main>
    </section>
</body>
</html>