<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ulaq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout-list}">
    <head>
        <title>Rejestracja</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <section layout:fragment="content">
            <h2>Rejestracja</h2>
<!--      
<script>
function check(myForm)
{
	for (i = 0; i < myForm.length; i++)
	{
		var pole = myForm.elements[i];
		if (!pole.disabled && !pole.readonly && (pole.type == "text" || pole.type == "password" || pole.type == "textarea") && pole.value == "")
		{
			alert("Proszę wypełnić wymagane pola!");
			return false;
		}
	}
	return true;
}
</script>
-->
            <div class="clr_container">
                <form  action="mailto:mathjazzjava@gmail.com?subject=Kalkulator" method="post"><!-- enctype="text/plain" onsubmit="if (check(this)) return true; return false">-->
                    <input class="input_login_register" type="text" placeholder="Nick *" onfocus="this.placeholder=''" onblur="this.placeholder='Nick *'"/>
                    <input class="input_login_register" type="text" placeholder="Imię" onfocus="this.placeholder=''" onblur="this.placeholder='Imię'"/>
                    <input class="input_login_register" type="text" placeholder="Nazwisko" onfocus="this.placeholder=''" onblur="this.placeholder='Nazwisko'"/>
                    <input class="input_login_register" type="email" placeholder="E-mail" onfocus="this.placeholder=''" onblur="this.placeholder='E-mail'"/>
                    <input class="input_login_register" type="password" placeholder="Hasło *" onfocus="this.placeholder=''" onblur="this.placeholder='Hasło *'"/>
                    <input class="input_login_register" type="password" placeholder="Powtórz hasło *" onfocus="this.placeholder=''" onblur="this.placeholder='Powtórz hasło *'"/>
                    <input class="input_login_register" type="submit" value="Wyślij" style="width: 88px; padding: 10px 0 10px 0"/>
                    <input class="input_login_register" type="reset" value="Delete" style="width: 88px; padding: 10px 0 10px 0"/>
                </form>
            </div>
        </section>
    </body>
</html>