<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Ułamki</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" href=".../resources/static/css/style.css"/>
</head>
<body>
    <section layout:fragment="content">
         <main>
            <article>
                <h3>Ciekawostki o ułamkach zwykłych</h3>
                <p>
                    Z ułamków korzystano od bardzo dawna. Dzięki glinianym tabliczkom z pismem klinowym
                    wiemy, że pierwsze obliczenia z wykorzystaniem ułamków wykonywano już w Babilonie prawie 2 tys. lat p.n.e
                </p>
                <p>
                    Zapis w postaci licznika, kreski ułamkowej i mianownika nie pojawił się oczywiście od razu.
                    Specjalnych symboli używali m. in. wspomniani już Babilończycy czy Egipcjanie (hielogrify).
                    Starożytni Grecy z kolei używali liter i kresek, a ułamki wykorzystywali także w muzyce.
                    Dwie liczby - jedna nad drugą stosowano w Indiach. Nie używano jednak
                    jeszcze kreski rozdzielającej. Tę dodali dopiero matematycy arabscy.
                </p>
                <p>
                    Z takiego właśnie zapisu skorzystał, prawdopodobnie jako jeden z pierwszch w Europie, w XIII w. Fibonacci
                    - znany włoski matematyk. W młodości wiele podróżował i kształcił się m. in. na wschodzie.
                    Wtedy to miał okazję poznać dzieła arabskich i hinduskich matematyków.
                </p>
                <br>
                <p>
                    <a href="/fraction-to-decimal"><img class="arrow_previous_next" style="float: left"
                                             th:src="@{images/arrow_left2.png}" src=".../resources/static/images/arrow_left2.png"/></a>
                    <a href="/"><img class="arrow_previous_next" style="float: right"
                                                      th:src="@{images/arrow_right2.png}" src=".../resources/static/images/arrow_right2.png"/></a>
                </p>
                <p>
                    <span class="text_left">Zamiana ułamka zwykłego na dziesiętny</span>
                    <span class="text_right">Powrót do strony głównej</span>
                </p>
            </article>
        </main>
    </section>
</body>
</html>