<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Ułamki</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" href=".../resources/static/css/style.css"/>
</head>
<body>
    <section layout:fragment="content">
         <main>
            <article>
                <span class="text_right"><a class="briefly_open" onclick="pop()">W skrócie!</a></span>
                <h3>Zamiana ułamków zwykłych na dziesiętne cz. 1</h3>
                <div id="briefly_box">
                    <img src=".../resources/static/images/fractions_additions/fraction_to_decimal_easy.gif"
                         th:src="@{images/fractions_additions/fraction_to_decimal_easy.gif}" alt="gif">
                    <a class="briefly_close" onclick="pop()">Zamknij</a>
                </div>
                <script src=".../resources/static/scripts/briefly.js" th:src="@{scripts/briefly.js}"></script>
                <p>
                    Ułamki zwykłe można zamienić na ułamki dziesiętne.
                    Najprościej zamienić ułamki o mianowniku 10, 100, 1000 itp. - wtedy zamieniamy od razu.
                    Zasada jest bardzo prosta - <b>ile zer w mianowniku - tyle miejsc po przecinku.
                    Oczywiście całości umieszczamy przed przecinkiem, a liczbę części po przecinku</b> np.<br>
                    <ul>
                        <li><span class="frac"><sup>3</sup><span>&frasl;</span><sub>10</sub></span> = 0,3</li>
                        <li>2 <span class="frac"><sup>7</sup><span>&frasl;</span><sub>10</sub></span> = 2,7</li>
                        <li><span class="frac"><sup>3</sup><span>&frasl;</span><sub>100</sub></span> = 0,13</li>
                        <li><span class="frac"><sup>7</sup><span>&frasl;</span><sub>100</sub></span> = 0,07</li>
                        <li>4 <span class="frac"><sup>6</sup><span>&frasl;</span><sub>100</sub></span> = 4,06</li>
                        <li><span class="frac"><sup>148</sup><span>&frasl;</span><sub>1000</sub></span> = 0,148</li>
                        <li><span class="frac"><sup>92</sup><span>&frasl;</span><sub>1000</sub></span> = 0,092</li>
                        <li><span class="frac"><sup>5</sup><span>&frasl;</span><sub>1000</sub></span> = 0,005</li>
                        <li>16 <span class="frac"><sup>23</sup><span>&frasl;</span><sub>1000</sub></span> = 16,023</li>
                        <li><span class="frac"><sup>137</sup><span>&frasl;</span><sub>100000</sub></span> = 0,00137 itp.</li>
                    </ul>
                </p>
                <br>
                <p>
                    <a href="/fraction-of-number"><img class="arrow_previous_next" style="float: left"
                                             th:src="@{images/arrow_left2.png}" src=".../resources/static/images/arrow_left2.png"/></a>
                    <a href="/fraction-to-decimal"><img class="arrow_previous_next" style="float: right"
                                                      th:src="@{images/arrow_right2.png}" src=".../resources/static/images/arrow_right2.png"/></a>
                </p>
                <p>
                    <span class="text_left">Ułamek liczby</span>
                    <span class="text_right">Zamiana ułamka zwykłego na dziesiętny cd.</span>
                </p>
            </article>
        </main>
    </section>
</body>
</html>