<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Ułamki</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" href=".../resources/static/css/style.css"/>
</head>
<body>
    <section layout:fragment="content">
         <main>
            <article>
                <h3>Obliczanie ułamka liczby</h3>
                <p>
                    <b>Aby obliczyć ułamek danej liczby wystarczy pomnożyć tę liczbę przez dany ułamek.</b>
                    Np. oblicz  <span class="frac"><sup>2</sup><span>&frasl;</span><sub>5</sub></span> liczby  30.<br>
                    Rozwiązanie:  <span class="frac"><sup>2</sup><span>&frasl;</span><sub>5</sub></span> *30 =
                    <span class="frac"><sup>2 * 30</sup><span>&frasl;</span><sub>5</sub></span> =
                    <span class="frac"><sup>2 * (30 : 5) </sup><span>&frasl;</span><sub>5 : 5</sub></span>
                    <span class="frac"><sup>2 * 6</sup><span>&frasl;</span><sub>1</sub></span> = 12
                </p>
                <br>
                <p>
                    <a href="/additions-list"><img class="arrow_previous_next" style="float: left"
                                             th:src="@{images/arrow_left2.png}" src=".../resources/static/images/arrow_left2.png"/></a>
                    <a href="/fraction-to-decimal-easy"><img class="arrow_previous_next" style="float: right"
                                                      th:src="@{images/arrow_right2.png}" src=".../resources/static/images/arrow_right2.png"/></a>
                </p>
                <p>
                    <span class="text_left">Powrót do listy</span>
                    <span class="text_right">Zamiana ułamków zwykłych na dziesiętne</span>
                </p>
            </article>
        </main>
    </section>
</body>
</html>