<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Ułamki</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" href=".../resources/static/css/style.css"/>
</head>
<body>
    <section layout:fragment="content">
         <main>
            <article>
                <span class="text_right"><a class="briefly_open" onclick="pop()">W skrócie!</a></span>
                <h3>Zamiana ułamków zwykłych na dziesiętne cz. 2</h3>
                <div id="briefly_box">
                    <img src=".../resources/static/images/fractions_additions/fraction_to_decimal.gif"
                         th:src="@{images/fractions_additions/fraction_to_decimal.gif}" alt="gif">
                    <a class="briefly_close" onclick="pop()">Zamknij</a>
                </div>
                <script src=".../resources/static/scripts/briefly.js" th:src="@{scripts/briefly.js}"></script>
                <p>
                    Jak widzieliśmy w poprzednim rozdziale bardzo łatwo zamienia się na ułamki dziesiętne takie
                    ułamki zwykłe, które mają mianownik będący wielokrotnością 10, czyli 10, 100, 1000, 10000...<br>
                    <b>Aby zamienić inne ułamki zwykłe na ułamek dziesiętny należy:
                    rozszerzyć ułamek do mianownika 10, 100, 1000... i wtedy zamienić</b><br>np.
                </p>
                <p style="text-align: center" >
                    <span class="important">
                    <span class="frac"><sup>3</sup><span>&frasl;</span><sub>5</sub></span> = (z 5 możemy otrzymać 10)
                    <span class="frac"><sup>3 * 2</sup><span>&frasl;</span><sub>5 * 2</sub></span> =
                    <span class="frac"><sup>6</sup><span>&frasl;</span><sub>10</sub></span> = 0,6
                    </span>
                </p>
                <p style="text-align: center" >
                    <span class="important">
                    7 <span class="frac"><sup>1</sup><span>&frasl;</span><sub>4</sub></span> =
                    7 <span class="frac"><sup>25</sup><span>&frasl;</span><sub>100</sub></span> = 7,25 itp.
                    </span>
                </p>
                <p>
                    (ułamek rozszerzono przez 4, do mianownika 100, bo z 4 nie otrzymamy 10 przez rozszerzenie)
                </p>
                <p>
                    <b>Jeżeli danego ułamka nie da się rozszerzyć do 10, 100, 1000...,
                    należy podzielić licznik przez mianownik i znaleźć rozwinięcie dziesiętne nieskończone
                        oraz wskazać okres ułamka</b><br>
                    <b>Uwaga:</b> dzielenie licznika przez mianownik można wykonać także zamiast rozszerzania
                    ułamka do mianownika 10, 100, 1000...
                </p>
                <br>
                <p>
                    <a href="/fraction-to-decimal-easy"><img class="arrow_previous_next" style="float: left"
                                             th:src="@{images/arrow_left2.png}" src=".../resources/static/images/arrow_left2.png"/></a>
                    <a href="/about-fractions"><img class="arrow_previous_next" style="float: right"
                                                      th:src="@{images/arrow_right2.png}" src=".../resources/static/images/arrow_right2.png"/></a>
                </p>
                <p>
                    <span class="text_left">Zamiana ułamka zwykłego na dziesiętny</span>
                    <span class="text_right">Ciekawostki o ułamkach</span>
                </p>
            </article>
        </main>
    </section>
</body>
</html>